body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 155, 24)
}

.card {
    /* Estilos generales de la tarjeta */
    width: 500px;
    background: radial-gradient(circle, rgba(0, 114, 255, 1) 1%,  rgba(33, 25, 173, 1) 100% );
    background: rgb(0, 114, 255);
    border-radius: 5px;
    margin: 100px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
  }

.card input{
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgb(45, 154, 226);
  outline: none;
  font-size: 28px;
  color: white;
}

.holder{
    color: white;
    font-weight: bold;
    font-size: 28px;
    padding-top: 50px;
}

.card #inputDate{
    width: 80px;
}

.card #inputCVV{
    width: 50px;
}